<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Создать задачу
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Создать задачу</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-signin" action="" method="post">
                    {{ create_order_form.hidden_tag() }}

                    {{ create_order_form.title.label(class='mb-0 mt-2') }}
                    {{ create_order_form.title(size=32, class='col-sm-12 form-control', type='text', placeholder='Название задачи') }}
                    {% for error in create_order_form.title.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    {{ create_order_form.description.label(class='mb-0 mt-2') }}
                    {{ create_order_form.description(rows=5, size=32, class='col-sm-12 form-control', type='text', placeholder='Описание задачи') }}
                    {% for error in create_order_form.description.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <p>
                        <button id="rec_btn" class="btn btn-danger">Записать голос</button>
                        <button id="stop_btn" class="btn btn-primary">Остановить запись</button>
                    </p>

                    {{ create_order_form.file.label(class='mb-0 mt-2') }}
                    {{ create_order_form.file(class='sound-file col-sm-12 form-control') }}
                    {% for error in create_order_form.file.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    {{ create_order_form.priority.label(class='mb-0 mt-2') }}
                    {{ create_order_form.priority(type="range", min="1", max="3", size=32, class='task-priority col-sm-12 form-control') }}
                    {% for error in create_order_form.description.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    {{ create_order_form.type.label(class='mb-0 mt-2') }}
                    {{ create_order_form.type(class='col-sm-12 form-control') }}
                    {% for error in create_order_form.type.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <p id="task-priority-text"></p>

                    {{ create_order_form.interval.label(class='mb-0 mt-2') }}
                    <p class="mt-0 mb-0 small">Повторяемость в часах. Если 0, то задача единоразовая.</p>
                    {{ create_order_form.interval(class='col-sm-12 form-control') }}
                    {% for error in create_order_form.interval.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    {{ create_order_form.deadline.label(class='mb-0 mt-2') }}
                    {{ create_order_form.deadline(class='col-sm-12 form-control') }}
                    {% for error in create_order_form.deadline.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    {{ create_order_form.executors.label(class='mb-0 mt-2') }}
                    {{ create_order_form.executors(class='col-sm-12 form-control') }}
                    {% for error in create_order_form.executors.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                    <div class="row">
                        <p>Поля ответа</p>
                        <a class="btn btn-info">+</a>
                    </div>

                    {{ create_order_form.submit(class="form-control btn btn-success mt-5") }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    let rec = $('#rec_btn')
    let stop = $('#stop_btn')
    rec.click( (event)=>{
        event.preventDefault();
        start_rec();
    })
    stop.click((event)=>{
        event.preventDefault();
        dl(stop_rec());
    })
    var f;
    var chunks = []
    navigator.mediaDevices.getUserMedia({ audio: true }).then(function (stream) {
        console.log(stream)
        f = new MediaRecorder(stream);
        f.ondataavailable = function (e) {
            chunks.push(e.data)
        }
    })

    function start_rec() {
        f.start()
    }

    function stop_rec() {
        f.stop()
        return chunks
    }

    function dl(stream) {
        var fobj
        setTimeout(function () {
            fobj = new Blob([stream[0]], { type: "application/octet-stream" })
            obj = window.URL.createObjectURL(fobj);

            a = document.createElement('a')
            a.download = "sound.ogg"
            a.href = obj
            a.click()
        }, 500)
    }

    let task_priority = $('.task-priority')
    task_priority.change(changePriority)

    function changePriority(e) {
        console.log(e)
    }

    let soundFileNode = $('.sound-file')
    soundFileNode.change((element)=>{
        let soundFile=element.target.files[0]
        console.log(soundFile)

        let data = new FormData();
        data.append('file', soundFile)
        console.log(data)

        $.ajax({
            url: '/recognise_file',
            type: 'POST',
            data: data,
        })
    })
</script>
